<br />
<div class="card">
  <div class="card-header">Flights</div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <label for="origin" class="form-label">Origin</label>
        <div class="input-group">
          <div class="dropdown w-100">
            <button
              class="btn btn-outline-secondary dropdown-toggle w-100"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-geo-alt-fill"></i>
              {{ origin?.code }} - {{ origin?.name }}
            </button>

            <div class="dropdown-menu w-100 p-2">
              <!-- Input de búsqueda -->
              <input
                type="text"
                class="form-control mb-2"
                placeholder="Search airport..."
                [(ngModel)]="searchTerm"
              />

              <!-- Lista filtrada -->
              <ul class="list-unstyled max-vh-50 overflow-auto">
                <li *ngFor="let item of filteredAirports()" class="mb-1">
                  <a
                    class="dropdown-item d-flex justify-content-between"
                    href="#"
                    (click)="selectOrigin(item, $event)"
                  >
                    <span>{{ item.code }}</span>
                    <span>
                      {{ item.city }} - {{ item.country }} -
                      <strong>{{ item.name }}</strong>
                    </span>
                  </a>
                </li>
              </ul>

              <!-- Loader en caso de que esté cargando -->
              <div *ngIf="isLoadingAirports" class="text-center py-2">
                <div class="spinner-border text-primary" role="status"></div>
              </div>

              <!-- Mensaje si no hay resultados -->
              <div
                *ngIf="!isLoadingAirports && filteredAirports().length === 0"
                class="text-center text-muted"
              >
                Results not found.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label for="destination" class="form-label">Destination</label>
        <div class="input-group">
          <div class="dropdown w-100">
            <button
              class="btn btn-outline-secondary dropdown-toggle w-100"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-geo-alt-fill"></i>
              {{ destination?.code }} - {{ destination?.name }}
            </button>

            <div class="dropdown-menu w-100 p-2">
              <!-- Input de búsqueda -->
              <input
                type="text"
                class="form-control mb-2"
                placeholder="Search airport..."
                [(ngModel)]="searchTerm"
              />

              <!-- Lista filtrada -->
              <ul class="list-unstyled max-vh-50 overflow-auto">
                <li *ngFor="let item of filteredAirports()" class="mb-1">
                  <a
                    class="dropdown-item d-flex justify-content-between"
                    href="#"
                    (click)="selectDestination(item, $event)"
                  >
                    <span>{{ item.code }}</span>
                    <span>
                      {{ item.city }} - {{ item.country }} -
                      <strong>{{ item.name }}</strong>
                    </span>
                  </a>
                </li>
              </ul>

              <!-- Loader en caso de que esté cargando -->
              <div *ngIf="isLoadingAirports" class="text-center py-2">
                <div class="spinner-border text-primary" role="status"></div>
              </div>

              <!-- Mensaje si no hay resultados -->
              <div
                *ngIf="!isLoadingAirports && filteredAirports().length === 0"
                class="text-center text-muted"
              >
                Results not found.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col">
        <label for="departure-date" class="form-label">Departure Date</label>
        <div class="input-group">
          <span class="input-group-text"
            ><i class="bi bi-calendar-event-fill"></i
          ></span>
          <input
            type="date"
            id="departure-date"
            class="form-control"
            [(ngModel)]="departureDate"
          />
        </div>
      </div>

      <div class="col">
        <label for="return-date" class="form-label">Return Date</label>
        <div class="input-group">
          <span class="input-group-text"
            ><i class="bi bi-calendar-check-fill"></i
          ></span>
          <input
            type="date"
            id="return-date"
            class="form-control"
            [(ngModel)]="returnDate"
          />
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col">
        <label for="passengers" class="form-label">Nº Passengers</label>
        <div class="input-group">
          <button
            class="btn btn-outline-secondary w-100 dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            (click)="toggleDropdown()"
          >
            <i class="bi bi-people-fill"> </i>

            {{ getPassengerSummary() }}
          </button>

          <ul
            class="dropdown-menu p-3"
            [class.show]="isDropdownOpen"
            style="width: 100%; max-width: 350px"
          >
            <li class="d-flex justify-content-between align-items-center mb-2">
              <div>
                <strong>Adulto</strong><br />
                <small>De 16 años en adelante</small>
              </div>
              <div class="d-flex align-items-center">
                <button
                  class="btn btn-secondary"
                  (click)="decrease('adult')"
                  [disabled]="passengers.adult === 1"
                >
                  <i class="bi bi-dash"></i>
                </button>
                <span class="mx-2 fs-5">{{ passengers.adult }}</span>
                <button class="btn btn-primary" (click)="increase('adult')">
                  <i class="bi bi-plus"></i>
                </button>
              </div>
            </li>

            <li class="d-flex justify-content-between align-items-center mb-2">
              <div>
                <strong>Niños</strong><br />
                <small>De 2 a 15 años</small>
              </div>
              <div class="d-flex align-items-center">
                <button
                  class="btn btn-secondary"
                  (click)="decrease('child')"
                  [disabled]="passengers.child === 0"
                >
                  <i class="bi bi-dash"></i>
                </button>
                <span class="mx-2 fs-5">{{ passengers.child }}</span>
                <button class="btn btn-primary" (click)="increase('child')">
                  <i class="bi bi-plus"></i>
                </button>
              </div>
            </li>

            <li class="d-flex justify-content-between align-items-center">
              <div>
                <strong>Bebés en Piernas</strong><br />
                <small>De 0 a 2 años</small>
              </div>
              <div class="d-flex align-items-center">
                <button
                  class="btn btn-secondary"
                  (click)="decrease('infant')"
                  [disabled]="passengers.infant === 0"
                >
                  <i class="bi bi-dash"></i>
                </button>
                <span class="mx-2 fs-5">{{ passengers.infant }}</span>
                <button class="btn btn-primary" (click)="increase('infant')">
                  <i class="bi bi-plus"></i>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col">
        <label for="promo-code" class="form-label">Promo Code</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-tag-fill"></i></span>
          <input
            type="text"
            id="promo-code"
            class="form-control"
            [(ngModel)]="promoCode"
          />
        </div>
      </div>
    </div>

    <br />
    <div class="text-end">
      <a href="#" class="btn btn-primary">Search</a>
    </div>
  </div>
</div>

<br />
{{ origin | json }}
<br />
{{ destination | json }}
<br />
{{ departureDate | date : "MM/dd/yyyy" }}
<br />
{{ returnDate | date : "MM/dd/yyyy" }}
<br />
{{ passengers | json }}
<br />
{{ promoCode }}
